<web-app 
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <display-name>Shop</display-name>
  <description>
    Extremely simple shopping app.
  </description>
  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>Controller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/login.jspx</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>shop</servlet-name>
    <jsp-file>/shop.jspx</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>orders</servlet-name>
    <jsp-file>/orders.jspx</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>Controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>
