doctype html
html
  head
  body
    form(action="/login" method = "post")
      div.
        Enter your name to begin shopping
      div.
      input(type="text" size="40" name="username")
      div.
      button(type="submit") Click to shop!
